@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	border: 0;
	color: #53341B;

}

/*  .no-border:focus {
     background: transparent !important;
    border-width: 0px !important; 
    outline: none !important;
    border: none !important;
     border-bottom: 1px solid #000000 !important;
    -webkit-appearance: none
} */
 input[type="text"]{
    background: transparent !important;
    outline: none !important;
    border-width: 0px !important;
    border: none !important;
    border-bottom: 2px solid #2B2713 !important;
	border-radius: unset !important;
	margin-bottom:15px;
    -webkit-appearance: none;
 }

 input[type="password"]{
    background: transparent !important;
    outline: none !important;
    border-width: 0px !important;
    border: none !important;
    border-bottom: 2px solid #2B2713 !important;
	border-radius: none !important;
    -webkit-appearance: none 
}

.topnav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #F9EFE6;
  color: #333333;
  height: 50px;
	
}

/* The sidebar menu */
.sidenav {
  height: 100%;/* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  margin-top: 96px;
  margin-bottom: 131px;
  background-color: #F9EFE6; 
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

/* Style the search box inside the sidenav bar */
.sidenav input[type=text] {
  width: 100%;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  background-color: transparent;
  border-bottom: 3px solid black;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #F9EFE6;
  z-index: 100;
}

/* Style page content */
.main {
  margin-left: 300px !important; /* Same as the width of the sidebar */
  margin-top: 160px;
  margin-bottom: 131px;
  padding: 0px 160px;
  z-index: 50;
 
}

.btn{
	background-color:  #ECC9AB !important;
	color: #53341B !important;
}
.product {
	width: 150px;
	height: 150 px;
}

.product-name{
	text-align: center;
	
}
.product-price{
	text-align: center;
	
}


